In [1]:
import random
random.randrange(50), random.randrange(50,101),random.randrange(0,100,2)

(29, 61, 74)

In [4]:
random.randint(50,100)

84

In [6]:
weeks = ['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']
weeks

['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']

In [7]:
for ele in weeks:
    print(ele)

星期一
星期二
星期三
星期四
星期五
星期六
星期日

In [5]:
#建立dictionary
#取出dictionary
numbers = {'one':1,'two':2,'three':3,'four':4}
numbers['one'], numbers['two'],numbers['three'],numbers['four']

(1, 2, 3, 4)

In [11]:
for key in numbers:
    print(f'key:{key}')
    print(f'value:{numbers[key]}')

key:one
value:1
key:two
value:2
key:three
value:3
key:four
value:4

In [20]:
type(numbers) , type(weeks)

(dict, list)

In [ ]:
list((1,2,3))
list(range(50,100,2))

In [22]:
#空的list
list1 = list()
list1

[]

In [25]:
#list的實體方法(instatnce method)---執行幾次，就出現幾個ONE
list1.append("one")
list1

['one', 'one', 'one']

In [32]:
list1.insert(0,'two')
list1

['two', 'two', 'two', 'two', 'one', 'one']

In [33]:
list1.pop()
list1

['two', 'two', 'two', 'two', 'one']

In [29]:
list1.pop(0)
list1

['two', 'one', 'one']

In [34]:
#建立空的dict
my_dict = {}
my_dict

{}

In [ ]:
#建立空的set
my_set = set()
my_set

In [38]:
nums_set = {1,2,3,4,5,6,1,2,3,4,5,6,7}
nums_set

{1, 2, 3, 4, 5, 6, 7}

In [41]:
len(nums_set), len(numbers)

(7, 4)

In [42]:
numbers

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [43]:
for a in numbers.keys():
    print(a)

one
two
three
four

In [44]:
for value in numbers.values():
    print(value)

1
2
3
4

In [45]:
for items in numbers.items():
    print(items)

('one', 1)
('two', 2)
('three', 3)
('four', 4)

In [46]:
for key, value in numbers.items():
    print(key)
    print(value)
    print("=========")

one
1
=========
two
2
=========
three
3
=========
four
4
=========